// =========================================================
// * Astro Ecommerce - v1.1.0
// =========================================================
//
// * Product Page: https://www.creative-tim.com/astro
// * Copyright 2023 Creative Tim (https://www.creative-tim.com)
//
// Coded by www.creative-tim.com
//
// =========================================================
//
// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

// Bootstrap Functions
@import "astro-ecommerce/bootstrap/functions";

// Custom Variables
@import "astro-ecommerce/custom/variables";

// Theme Variables
@import "astro-ecommerce/variables";

// Bootstrap Core
@import "astro-ecommerce/bootstrap/bootstrap";

// Theme Core
@import "astro-ecommerce/theme";

// Custom Variables
@import "astro-ecommerce/custom/styles";

/* En tu archivo CSS principal, por ejemplo: src/assets/scss/astro-ecommerce.scss */

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color del fondo del track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Color del "pulgar" de la barra de desplazamiento */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0; /* Color al pasar el ratón */
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" o "none" */
  scrollbar-color: #cbd5e0 #f0f0f0; /* thumb color track color */
}